@model AppWebPruebaFinal.Models.Alquiler

@{
    ViewData["Title"] = "Create";

    var inmuebles = ViewBag.Inmuebles as IEnumerable<Inmueble>;


    var inquilinos = ViewBag.Inquilinos as IEnumerable<Inquilino>;
}

<h1>Create</h1>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--



       <div class="form-group">
        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <label asp-for="InmuebleId" class="control-label"></label>
            <select asp-for="InmuebleId" class="form-control">
                @foreach (Inmueble i in inmuebles)
                {
                    <option value="@i.Id">@i.Direccion @i.Duenio.Dni</option>
                }
            </select>
            <label asp-for="InquilinoId" class="control-label"></label>
            <select asp-for="InquilinoId" class="form-control">
                @foreach (Inquilino i in inquilinos)
                {
                    <option value="@i.IdInquilino">@i.Nombre @i.Apellido</option>
                }
            </select>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

